<div class="layout-wrapper" [ngClass]="containerClass">
  <app-top-bar></app-top-bar>
  <div class="layout-sidebar">
    <app-side-bar></app-side-bar>
  </div>
  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  <!-- <app-config></app-config> -->
  <div class="layout-mask"></div>
  <div class="menu-overlay" [ngClass]="{'menu-overlay-active': layoutService.state.overlayMenuActive && layoutService.isDesktop()}"></div>

</div>
